
.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	padding: 0;
	background-color: transparent;
}
.breadcrumb li { 
	float: left; 
	/* border-bottom: solid 1px #303030; */
    /* border-top: solid 1px #303030; */
	margin-top: 20px;
}
.breadcrumb li:last-child, .breadcrumb li a {
	text-decoration: none; 
	padding: 10px 0 10px 0px;
	background: #483607;
	background-color: transparent;
	position: relative; 
	display: block;
	float: left;
	color: #eeeeee;
}
.breadcrumb li:last-child  {
	padding-left: 5px;
	/* border-right: solid 1px #303030; */
    padding-right: 15px;
    /* border-radius: 5%; */
	
}


.breadcrumb li:first-child a {
	border-left: 4px solid #85630c;
}
.breadcrumb li:first-child a, .breadcrumb li:nth-child(1) a {
	padding-left: 10px ;
	padding-right: 5px;

}

.breadcrumb li a:after { 
	content: " / "; 
	padding-right: 0px;
}

.breadcrumb li:last-child:after {
	content: " "
}


.breadcrumb li:last-child {
	pointer-events: none;
	cursor: default;
	font-weight: bold;
}

.breadcrumb li a:hover { 
	background: #000000;
	background: transparent;
 }
.breadcrumb li a:hover:after { border-left-color: #000000 !important; }
