*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 900px !important;
    padding: 0;
}
.container .grid [class^="col-"] {
    
    /* background-color: #83e3ff; */
    /* box-shadow: inset 0 0 0 5px #9ce9ff; */
    /* box-shadow: inset 0 0 0 15px rgba(0,0,0,1); */
    /* background-color: rgba(0,0,0,0.3); */
}

.col-grid {
    /* background-color: #83e3ff; */
    padding-left: 25px;
    padding-right: 25px;
    /* box-shadow: inset 0 0 0 5px #9ce9ff; */
    /* box-shadow: inset 0 0 0 20px rgba(0,0,0,0.2); */
}

.grid {
    min-height: 40px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 600px;
    }
}


/********** Content after this **********/

body {
    font-family: 'Noto Serif',Lora,'Dosis', "Comic Sans MS", "Comic Sans";
    background-color: #03010C;
    color: #ffffff;   
}


.title {
    background-color: #504a34;
    align-items: start;
    display: flex;
    min-height: 50px;
    align-items: center;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-family: cursive;

}

.title img {
    max-width: inherit;
    /* max-height: 200px; */
}

table {
    width: 100%;
    max-width: fit-content;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 2px solid #7d7350;
}

table thead th {
    vertical-align: middle;
    background-color: #231e08;
    padding: .75rem;
    vertical-align: top;
}
table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #7d7350;
    border-left: 01px solid #3b3416;
}
th {
    text-align: inherit;
}

item::after, detail::after, date::after{
    content: "\a";
    white-space: pre;
}

item {
    font-weight: 600;
    font: bold 16px Georgia, serif;
}

detail {
    font-weight: 100;
    /* font: italic 10px Georgia, serif; */
    font: italic 14px Georgia, serif;
}

img {
    max-width: 100%;
    
}
.card-body {
    padding: 0;
}

.direction-row .card-bg-img {
    display: block;
    float: left;
    width: 40%;
    max-width: 40%;
    min-height: 150px;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
}

h1 {
    font-size: 2.0rem;
}

a {

}
a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

h2 {   
    font-size: 1.5rem;
    border-left: 4px solid #7d7350;
    padding-left: 10px;
    margin: 15px auto;
    color: #a0967d;
}

h2, b, strong {
    /* font-weight: normal; */
    color:#e3dcc5 !important
}

.red-underline {
    border-bottom: 2px solid #d00 ;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
height: 100%;
}