<div class="grid">
    <div class="col-grid direction-row">
        <div class="card-body">
            <div class="videoWrapper">
                <iframe 
                    width="560" height="349"
                    src='{metadata[youtube]}'
                    frameborder="0"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>  
    </div>
</div>
